@import "./variables.scss";

.container-tooltip {
  position: absolute;
  top: -32px;

  @media (min-width: 640px) {
    top: -30px;
  }
}

.tooltip {
  background-color: $red-color;
  border-radius: 10px;
  color: white;
  font-family: $fontRaleway;
  font-size: 11px;
  padding: 0.1rem;
  text-align: center;
  width: 150px;

  @media (min-width: 640px) {
    font-size: 10.5px;
  }

  @media (min-width: 1536px) {
    font-size: 12.5px;
  }
}

.vector {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $red-color;
  height: 0;
  margin-left: 0.5rem;
  width: 0;
}
