@import "./variables.scss";

.container-tooltip {
  position: absolute;

  @media (min-width: 320px) {
    top: -23px;
  }

  @media (min-width: 1280px) {
    top: -28px;
  }

  animation-name: popup;
  animation-duration: 4s;
  animation-timing-function: ease-in;
}

@keyframes popup {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tooltip {
  background-color: $red-color;
  border-radius: 10px;
  color: white;
  font-family: $fontRaleway;
  text-align: center;

  @media (min-width: 320px) {
    font-size: 10px;
    width: 130px;
    padding: 0;
  }

  @media (min-width: 1280px) {
    font-size: 10px;
    font-weight: 600;
    width: 120px;
    height: 20px;
    padding: 0.1rem;
  }
}

.vector {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $red-color;
  height: 0;
  margin-left: 0.5rem;
  width: 0;
}
