.card {
	padding-top: 0.5rem;
	margin-left: 1rem;
	background-color: white;
	border-radius: 0.75rem;
	border-top: 13px solid;
	width: 18rem;
}

.card-new {
	border-top-color: #475564;
}

.card-doubting {
	border-top-color: #fbbc41;
}

.card-dismissed {
	border-top-color: #f84d44;
}

.card-approved {
	border-top-color: #35c549;
}
