@import "./variables.scss";

.progress-bar {
  display: flex;
  flex-direction: column;
  color: $gray-color;
  font-family: $fontRaleway;
  user-select: none;
  height: auto;
  background-color: #fff;
}

.step {
  position: relative;
  width: 100%;
  margin-bottom: 1.2rem;
}

.circle {
  position: relative;
  background-color: rgb(133, 216, 248);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.circle span {
  position: absolute;
  color: white;
  font-weight: 700;
  line-height: 22px;
  left: 50%;
  transform: translateX(-50%);
}

.active-circle {
  background-color: $cyan-color;
  box-shadow: 0px 0px 12px $cyan-color;
}
