@import "./Variables.scss";

.container-tooltip {
  position: absolute;
  z-index: 1;
}

.tooltip {
  background-color: $redColor;
  border-radius: 5px;
  color: white;
  font-family: $fontRaleway;
  font-size: 12px;
  padding: 0.1rem;
  text-align: center;
  width: 180px;
}

.vector {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $redColor;
  height: 0;
  margin-left: 0.5rem;
  width: 0;
}
