@import "./Variables.scss";

.progress-bar {
  display: flex;
  user-select: none;
}

.progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}

.progress-bar .step .circle {
  background-color: $inactiveColor;
  position: relative;
  height: 33px;
  width: 33px;
  display: inline-block;
  border-radius: 50%;
  transition: 0.2s;
  margin-right: 2rem;
}

.progress-bar .step .circle span {
  color: $whiteColor;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
}

.progress-bar .step .circle.active {
  border-color: $activeColor;
  background: $activeColor;
}

.progress-bar .step .circle span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar .step .circle.active span {
  display: none;
}

.progress-bar .step:last-child .circle:before,
.progress-bar .step:last-child .circle:after {
  display: none;
}

.progress-bar .step .circle:before,
.progress-bar .step .circle:after {
  display: inline-block;
  position: absolute;
  content: "";
  bottom: 12px;
  right: -20px;
  border: solid $inactiveColor;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(-45deg);
}

.progress-bar .step .circle.active:after {
  background: $activeColor;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-bar .step .check {
  position: absolute;
  left: 25%;
  top: 45%;
  font-size: 12px;
  transform: translate(-50%, -50%);
  display: none;
  color: $whiteColor;
}

.progress-bar .step .check.active {
  display: block;
  color: #000;
}
