@import "./Variables.scss";

.raw-number {
  margin: 0 15px;
}

.raw-number .step {
  text-align: center;
  width: 100%;
  position: relative;
  margin: 15px 0;
}

.raw-number .step .circle {
  background-color: $inactiveColor;
  position: relative;
  height: 28px;
  width: 28px;
  display: inline-block;
  border-radius: 50%;
  transition: 0.2s;
}

.raw-number .step .circle span {
  color: white;
  font-family: $fontRaleway;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
}

.raw-number .step .circle.active {
  border-color: $activeColor;
  background: $activeColor;
}

.raw-number .step .circle span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.raw-number .step .circle.active span {
  display: none;
}

.raw-number .step .circle.active:after {
  background: $activeColor;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
