@import "./variables.scss";

.floating-label {
  position: relative;
}

.floating-select {
  font-size: 15px;
  padding: 4px 4px;
  width: 100%;
}

.floating-label-2 {
  position: absolute;
  color: $gray-color;
  font-size: 15px;
  font-weight: 400;
  pointer-events: none;
  left: 16px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-select:focus ~ .floating-label-2,
.floating-select:not([value=""]):valid ~ .floating-label-2 {
  top: 4px;
  left: 18px;
  font-size: 12px;
  font-weight: 300;
}
