.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  filter: drop-shadow(0 0 7px gray);
  -webkit-filter: drop-shadow(0 0 7px gray);
}
