* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.imgSection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50px;
  margin-top: 80px;
}

.notFoundContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 80px;
}

.notFoundContainer .info h1 {
  position: relative;
  right: 45px;
  color: lightgray;
  font-size: 9rem;
  margin: 0;
}

.notFoundContainer .info h2 {
  position: relative;
  top: -110px;
  right: 10px;
  margin: 0;
  font-size: 3.5rem;
}

.notFoundContainer .info p {
  position: relative;
  top: -70px;
}

.notFoundContainer .homeBtn {
  position: relative;
  top: -45px;
  background-color: var(--var-btn-bg);
  color: white;
  border: 0;
  border-radius: 15px;
  width: 180px;
  font-weight: 700;
  font-size: 1rem;
  padding: 18px 36px 18px 36px;
  filter: drop-shadow(0 12px 10px var(--var-shadow-color));
  -webkit-filter: drop-shadow(0 12px 10px var(--var-shadow-color));
  transition: transform 0.3s;
}

.homeBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}
