:root {
  --button-text-color: #00adef;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loading-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 730px;
  width: 1066px;
  margin-left: 430px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#video {
  -o-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: larger;
}

.container #recording-info {
  margin-left: 5px;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: large;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: large;
}

#video-preview-header {
  text-align: center;
}

a {
  display: none;
}

@media screen and (max-width: 768px) {
  video {
    height: 400px;
    width: 600px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 500px) {
  video {
    height: 300px;
    width: 410px;
    margin-left: 50px;
  }

  .container {
    font-size: medium;
    width: fit-content;
  }

  .buttons-section button {
    font-size: medium;
  }

  .container {
    width: fit-content;
  }
}

@media screen and (max-width: 375px) {
  video {
    margin-left: 0;
  }
}
