:root {
  --var-main-bg: #e5e5e5;
  --var-btn-bg: #00adef;
  --var-shadow-color: rgba(0, 173, 239, 0.35);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 250px;
}

.info {
  text-align: center;
  margin-top: 50px;
}

.info p {
  margin: 0;
}

.nextBtn {
  margin-top: 30px;
  background-color: var(--var-btn-bg);
  color: white;
  border: 0;
  border-radius: 10px;
  width: 180px;
  font-weight: 700;
  font-size: 1rem;
  padding: 18px 36px 18px 36px;
  filter: drop-shadow(0 12px 10px var(--var-shadow-color));
  -webkit-filter: drop-shadow(0 12px 10px var(--var-shadow-color));
  transition: transform 0.3s;
}

.nextBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}
